@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Permanent+Marker&display=swap');

.App {
  margin: 0px;
  /* padding: 100px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  background-image: url('./assets/FeltBoard.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  font-family: 'Kalam', cursive;
  margin-top: 15vh;
  text-align: center;
  color: white;
}

.quote h2 {
  font-size: 25px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-top: 5px;
  /* align-items: center;
  justify-content: center; */
}
.button {
  /* display:flex;
  align-items: center;
  justify-content: center; */
  margin-top: 20px;
}

.button {
  display: block;
  border: 2px solid #ced2d4;
  background: transparent;
  padding: 10px 15px;
  color: #c0c5c7;
  font-size: 20px;
  font-family: 'Kalam', cursive;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 1s, color 1s;

}
.button:hover{
  background: #515051;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.quote small {
  font-size: 10px;
  color: white;
  font-family: 'Kalam', cursive;

}



